@if (_isVisible)
{
    <div class="maintenance">
        @if (_isMessageScrollEnabled)
        {
            <marquee>@_text</marquee>
        }
        else
        {
            <span>@_text</span>
        }
    </div>
}
